body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans', sans-serif;
    background-color: rgba(0, 0, 0, .85);
}

.title {
    font-size: 1.5rem;
    text-align: center;
    position: relative;
    color: #fff;
    margin-bottom: 60px;
}

.title::after {
    content: "";
    width: 50px;
    height: 4px;
    border-radius: 2px;
    background-color: #fff;
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
}

.content {
    width: 90vw;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 20px;
    padding: 20px;
}

.post {
    width: 110px;
    height: 110px;
    margin: auto;
    transition: .3s;
    cursor: pointer;
}

.post:hover {
    opacity: .8;
}

.post img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.target {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .65);
    position: fixed;
    top: 0;
    left: -120%;
    transition: .4s;
}

.target .post-target {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.close {
    display: block;
    position: absolute;
    top: 30px;
    right: 30px;
    color: red;
    cursor: pointer;
    font-size: 1.1rem;
}

@media screen and (min-width: 514px) {
    .post {
        width: 150px;
        height: 150px;
    }
}

@media screen and (min-width: 1080px) {
    .content {
        grid-template-columns: repeat(3, 1fr)
    }
    .post {
        width: 200px;
        height: 200px;
    }
    .close {
        top: 50px;
        right: 100px;
    }
}

@media screen and (min-width: 1280px) {
    .content {
        grid-template-columns: repeat(4, 1fr)
    }
}